{% extends 'base.html.twig' %}

{% block body %}
    <h2>Profil de {{ participant.pseudo }}</h2>
    <div>
        <div style="text-align: center">
            {% if(participant.imageName) %}
                <div><img src="{{ asset('uploads/pictures/'~participant.imageName) }}"></div>
            {% endif %}
            <br>
            <div>Prénom : {{ participant.prenom }}</div>
            <div>Nom : {{ participant.nom }}</div>
            <div>Téléphone : {{ participant.telephone }}</div>
            <div>Email : {{ participant.email }}</div>
            <div>Campus : {{ participant.campus.nom }}</div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | {{ participant.pseudo }}
{% endblock %}

