{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Mon profil
{% endblock %}

{% block body %}
    <h2>Mon profil</h2>
    <div>
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button>Enregistrer</button>
            <button type="reset">Annuler</button>
            {{ form_end(form) }}
            {% if(app.user.imageName) %}
                <div><img src="{{ asset('uploads/pictures/'~app.user.imageName) }}" alt="Pas d'image uploadée"></div>
            {% endif %}
        </div>
    </div>
{% endblock %}

