{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Mon profil
{% endblock %}

{% block body %}
    <h2>Mon profil</h2>
    <div class="profil">
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {% if(app.user.imageName) %}
                <div>
                    <h5><img src="{{ asset('uploads/pictures/'~app.user.imageName) }}" alt="Pas d'image uploadée"></h5>
                </div>
            {% endif %}
            <button class="btn btn-primary">Enregistrer</button>
            <button class="btn btn-primary" type="reset">Annuler</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

