{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-hover">
        <thead>
        <tr class="table-primary">
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/Places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for sortie in sorties %}
        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.dateHeureDebut | date('d/m/Y')}} à {{ sortie.dateHeureDebut | date('H:i') }}</td>
            <td>{{ sortie.dateLimiteInscription | date('d/m/Y')}} à {{ sortie.dateLimiteInscription | date('H:i') }}</td>
            <td>{{ sortie.participants.count }}/{{ sortie.nbInscriptionsMax }}</td>
            <td>{{ sortie.etat.getLibelle() }}</td>
            <td>{{ sortie.participants.count }}</td>
            <td><a href="{{ path('afficherProfil', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a></td>
            <td><a href="{{ path('sortie_afficherSortie', {'id': sortie.id}) }}">Afficher</a>
                <a href="{{ path('sortie_afficherSortie', {'id': sortie.id}) }}">S'inscrire</a>
                {% if(sortie.organisateur == app.user) %}
                    <a href="{{ path('sortie_afficherSortie', {'id': sortie.id}) }}">Modifier</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

    <a href="{{ path('sortie_creerSortie') }}" class="btn btn-primary">Créer une sortie</a>

{% endblock %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

