{% extends 'base.html.twig' %}

{% block body %}
    <h2>Liste des campus</h2>
    <div class="table-container">
        <table class="table table-hover">
            <thead>
            <tr class="table-primary">
                <th class="thnomsortie" scope="col">Campus</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for campus in listeCampus %}
                    <tr>
                        <td class="thnomsortie">{{ campus.nom }}</td>
                        <td><a href="{{ path('admin_modifierCampus', {'id': campus.id}) }}">Modifier</a>
                        <td><a href="{{ path('admin_supprimerCampus', {'id': campus.id}) }}">Supprimer</a>
                        </td>
                    </tr>
            {% endfor %}

            <tr>
                <td class="thnomsortie"></td>
                <td><a href="{{ path('admin_creerCampus') }}">Ajouter</a>
            </tr>
            </tbody>
        </table>

{% endblock %}

{% block title %}
    {{ parent() }} | Gestion des campus
{% endblock %}

