{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modifier sortie{% endblock %}

{% block body %}
    <div>
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        <button>Modifier sortie</button>
        <button><a href="{{ path('main_home') }}">Annuler</a></button>

        {{ form_end(sortieForm) }}
    </div>
{% endblock %}
