{% extends 'base.html.twig' %}

{% block title %}Détails de la sortie{% endblock %}

{% block body %}


    <div>
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td>Nom de la sortie: {{ sortie.nom }}</td>
                    <td>Campus: {{ sortie.campus.getNom() }}</td>
                </tr>
                <br>
                <tr>
                    <td>Date et heure de la sortie: {{ sortie.dateHeureDebut | date('d/m/Y')}} à {{ sortie.dateHeureDebut | date('H:i') }}</td>
                    <td>Lieu: {{ sortie.lieu.getNom() }}</td>
                </tr>
                <br>
                <tr>
                    <td>Date limite d'inscription: {{ sortie.dateLimiteInscription | date('d/m/Y')}} à {{ sortie.dateLimiteInscription | date('H:i') }}</td>
                    <td>Rue: </td>
                </tr>
                <br>
                <tr>
                    <td>Nombre de place: </td>
                    <td>Code postal: </td>
                </tr>
                <br>
                <tr>
                    <td>Durée : {{ sortie.duree }}minutes</td>
                    <td>Latitude: </td>
                </tr>
                <br>
                <tr>
                    <td>Description et infos: {{ sortie.infosSortie }}</td>
                    <td>Longitude: </td>
                </tr>
            </tbody>
        </table>
        <br>
        <a href="" class="btn btn-primary">S'inscrire à la sortie</a>
    </div>

{% endblock %}
