<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}Place2Be{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        {# Flatpicker (calendrier datetimepicker) #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    {% endblock %}

    {% block javascripts %}
        {# Flatpicker (calendrier datetimepicker) #}
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        {# Flatpicker import de la traduction française #}
        <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
        {# Flatpicker : notre fichier de configuration #}
        <script src="{{ asset("js/flatpickermyconfig.js") }}"></script>
        <script src="{{ asset('js/dropdown.js') }}"></script>
        <script src="{{ asset('js/plus.js') }}"></script>
    {% endblock %}

    <link rel="icon" href="{{ asset('images/favicon.jpg') }}">

    {% block extrastyles %}{% endblock %}
</head>
<body>
    <header>
            <a href="{{ path('main_home') }}"></a>
            {% include("inc/nav.html.twig") %}
    </header>

    <div class="container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <main>
        {% block body %}

        {% endblock %}
    </main>
    </div>
    <footer>
        {% include("inc/nav.html.twig") %}
        <div style="text-align: center">&copy; {{ "now"|date('Y') }} Place2Be</div>
    </footer>
</body>
</html>