
{{ form_start(form) }}
<div class="container">
    <div class="row bg-secondary text-white" style="width: 70em; margin-top: 0.5em; border-radius: 10px">

        <div class="col-md-3">
            <div>
                <h7>Campus:</h7>
                {{ form_row(form.campus) }}
            </div>
            <div>
                <h7>Le nom de la sortie contient:</h7>
                {{ form_row(form.q) }}
            </div>
        </div>
        <div class="col-md-3">
                <h7>Entre</h7>
                {{ form_row(form.dateMin) }}
                <h7>Et</h7>
            {{ form_row(form.dateMax) }}
        </div>
        <div class="col-md-4" style="margin-top: 1.5em">
            <div class="row" style="margin-left: 3em; text-align: left">
                <div class="col-md-1">
                    {{ form_row(form.isOrganisateur) }}
                </div>
                <div class="col-md-11">
                    <h7>Sorties dont je suis l'organisateur/trice</h7>
                </div>
            </div>
            <div class="row" style="margin-left: 3em; text-align: left; margin-top: -1em">
                <div class="col-md-1">
                    {{ form_row(form.isInscrit) }}
                </div>
                <div class="col-md-11">
                    <h7>Sorties auxquelles je suis inscrit/e</h7>
                </div>
            </div>
            <div class="row" style="margin-left: 3em; text-align: left; margin-top: -1em">
                <div class="col-md-1">
                    {{ form_row(form.isNotInscrit) }}
                </div>
                <div class="col-md-11">
                    <h7>Sorties auxquelles je ne suis pas inscrit/e</h7>
                </div>
            </div>
            <div class="row" style="margin-left: 3em; text-align: left; margin-top: -1em">
                <div class="col-md-1">
                    {{ form_row(form.passees) }}
                </div>
                <div class="col-md-11">
                    <h7>Sorties passées</h7>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary bg-primary" style="margin-top: 1.5em">Chercher</button>
        </div>
    </div>
</div>
{{ form_end(form) }}