<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('main_home') }}"><img src="{{ asset('images/Logo_transparent.png') }}"
                                                                    width="150px"
                                                                    alt="Place2Be"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <ul>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu show" data-bs-popper="static">
                        {% if is_granted("ROLE_ADMIN") %}
                            <a class="dropdown-item" href="{{ path('admin_listeVilles') }}">Villes</a>
                            <a class="dropdown-item" href="{{ path('admin_listeCampus') }}">Campus</a>
                            <a class="dropdown-item" href="{{ path('admin_listeUtilisateurs') }}">Utilisateurs</a>
                        {% endif %}
                        {% if not(app.user) %}
                            <a class="dropdown-item" href="{{ path('app_register') }}">Créer un compte</a>
                            <a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a>
                        {% else %}
                            <a class="dropdown-item" href="{{ path('modifierProfil', {'id': app.user.id}) }}">Mon profil ({{ app.user.pseudo }})</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('main_home') }}">Accueil
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>


                {% if is_granted("ROLE_ADMIN") %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('admin_listeVilles') }}">Villes
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('admin_listeCampus') }}">Campus
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('admin_listeUtilisateurs') }}">Utilisateurs
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                {% endif %}
                {% if not(app.user) %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_register') }}">Créer un compte
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_login') }}">Se connecter
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('modifierProfil', {'id': app.user.id}) }}">Mon profil ({{ app.user.pseudo }})
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_logout') }}">Se déconnecter
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
